<% if @prompts.any? %>
    <h2>Search results for: <%= params[:query] %></h2>
    <ul class="list-group">
        <% @prompts.each do |prompt| %>
            <li class="list-group-item"><%= prompt.text %></li>
        <% end %>
    </ul>

    <%= paginate @prompts %>
<% else %>
    <h2>Sorry, no results matched your search.</h2>
<% end %>
